name: FOSSA CLI Analysis

on:
  workflow_dispatch:

jobs:
  fossa-check:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@v5

      - name: FOSSA analysis
        run: |
          # Get JWT from GitHub Actions
          JWT=$(curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=app.fossa.com" | jq -r '.value')

          # Exchange JWT for FOSSA API token
          FOSSA_API_KEY=$(curl --request POST \
            --url https://app.fossa.com/api/oidc/token-exchange \
            --header 'accept: application/json' \
            --header 'content-type: application/json' \
            --data '{
              "token": "'$JWT'",
              "providerId": 26,
              "username": "chelsea-github-actions",
              "expiresIn": 3600,
              "isPushOnly": true
            }' \
            | jq -r '.credential.token')

          echo "FOSSA_API_KEY=$FOSSA_API_KEY" >> "$GITHUB_ENV"

          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
          fossa analyze --fossa-api-key $FOSSA_API_KEY
          fossa test
